<!DOCTYPE html>
<html>
    <header>
    	<div class="wrap">
    		<div>
    			<div>
    				<a href="/">SHOP-HOME</a>
    			</div>
    			<div>
    				<a href="/admin">ADMIN-HOME</a>
    			</div>
    		</div>
    		<div>
    			<div class="menu-wrap">
    				<div class="menu-title">
    					<span>카테고리 관리</span>
    				</div>
    				<div class="menu-link">
    					<div>
    						<a href="/admin/category/create">등록하기</a>
    					</div>
						<div>
							<a href="/admin/category/list">조회및수정</a>
						</div>
    				</div>
    				<div class="menu-title">
    					<span>상품 관리</span>
    				</div>
    				<div class="menu-link">
    					<div>
    						<a href="/admin/product/create">등록하기</a>
    					</div>
						<div>
							<a href="/admin/product/list">조회및수정</a>
						</div>
    				</div>
    				<div class="menu-title">
    					<span>고객센터</span>
    				</div>
    				<div class="menu-link">
    					<div>
    						<a href="#">등록하기</a>
    					</div>
						<div>
							<a href="#">조회및수정</a>
						</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </header>
</html>