@charset "UTF-8";

main{
	width: 600px;
	margin: 0 auto;
}

h1 {
	font-size: 24px;
	margin: 20px 0;
}

.form-area {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	padding: 20px;
}

.input-area {
	margin-bottom: 15px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"], textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.def-img, .add-img {
	margin-bottom: 15px;
}

.img-wrap {
	position: relative;
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}

.img-wrap input[type=file]{
	display: none;
}

.temp-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.temp-img::before{
	content: "+";
	font-size: 20px;
	width: 20px;
	height: 20px;
}

.add-img .line-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

button[type="submit"] {
	padding: 10px 20px;
	width: 200px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #45a049;
}