@charset "UTF-8";

body{
	font-size:14px;
}

body > header {
	width: 250px;
	background-color: #3f4b5c;
	color: #fff;
	min-height: 100vh;
}

header> .wrap .menu-link a{
	color: #fff !important;	
}